.form-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1.3rem;
}

.form-control {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.checkbox-label {
  margin-left: 1rem;
  cursor: pointer;
  transition: color 0.2s;
  font-size: 1.4rem;
}

.checkboxLabel:hover {
  color: var(--color-light-green);
}

input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-green);
  border-radius: 3px;
  transition: background-color 0.2s, border-color 0.2s;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--color-green);
  border-color: var(--color-green);
}
