@import "../index.css";

.container {
  width: 40vw;
}

.container input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem 0rem 2rem;
  will-change: filter;
  transition: filter 300ms;
  border: none;
  font-size: 2rem;
  color: var(--color-green);
  background-color: inherit;
  outline: none;
  text-align: center;
  word-break: break-word;
  white-space: pre-wrap;
}

.container:hover {
  filter: drop-shadow(0 0 0.6em var(--color-green));
}

.container i {
  color: var(--color-green);
  font-size: 1.7rem;
}

.container p {
  color: var(--color-grey);
  font-size: 2rem;
}
