.form-controls {
    margin-top: 1.8rem;
}

.form-control {
    margin: 1rem 0 1rem 0;
} 

.form-control label {
    letter-spacing: 1px;;
    margin-left: 1rem;
}

.form-control input {
    letter-spacing: 1px;;
    margin-left: 1rem;
}


